line.DrawObservable {
    stroke-width: 0.12rem;
    stroke: currentColor;
}
line.DrawObservable.error {
    color: red;
}
text.DrawObservable {
    font-size: 1rem;
}
circle.DrawObservable {
    r: 0.92rem;
    fill: white;
    stroke: currentColor;
    stroke-width: 0.12rem;
}
path.DrawObservable {
    fill: currentColor;
}